@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins transition-all duration-300;
}

button {
  transition: all 0.3s ease-in-out;
}

table {
  @apply border-collapse;
}
