@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins transition-all duration-300;
}

button {
  transition: all 0.3s ease-in-out;
}

table {
  @apply border-collapse;
}
@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}
